#err_tip[state='normal']{
color:green;
}
#err_tip[state='err']{
color:red;
}

#pass_visible[state='unvisible']{
   border-image: url(:/images/unvisible.png);
}
#pass_visible[state='unvisible_hover']{
   border-image: url(:/images/unvisible_hover.png);
}
#pass_visible[state='visible']{
   border-image: url(:/images/visible.png);
}
#pass_visible[state='visible_hover']{
   border-image: url(:/images/visible_hover.png);
}
#confirm_visible[state='unvisible']{
   border-image: url(:/images/unvisible.png);
}
#confirm_visible[state='unvisible_hover']{
   border-image: url(:/images/unvisible_hover.png);
}
#confirm_visible[state='visible']{
   border-image: url(:/images/visible.png);
}
#confirm_visible[state='visible_hover']{
   border-image: url(:/images/visible_hover.png);
}

#forget_label[state="normal"],#forget_label[state="selected"]{
color:black;
}


#forget_label[state="hover"],#forget_label[state="selected_hover"]{
color:rgb(42,112,241);
}

#SideBar{
    background-color:rgb(46,46,46);
}

#addBtn[state="normal"]{
    border-image:url(:/images/add_friend_normal.png);
}

#addBtn[state="hover"]{
    border-image:url(:/images/add_friend_hover.png);
}

#addBtn[state="press"]{
    border-image:url(:/images/add_friend_hover.png);
}

#search_wid{
    background-color:rgb(247,247,247);
}

#searchEdit{
    border:2px solid #f1f1f1;
}


#chatUserWid{
    background-color:rgb(0,0,0);
}

#chatUserList {
    background-color: rgb(247,247,248);
    border: none;
}
#chatUserList::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}
#chatUserList::item:hover {
    background-color: rgb(206,207,208);
    border: none;
    outline: none;
}
#chatUserList::focus {
    border: none;
    outline: none;
}



#msgLab{
    color:rgb(153,153,153);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}
#nameLab{
    color:rgb(0,0,0);
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}
#timeWid #timeLab{
   color:rgb(140,140,140);
   font-size: 12px;
   font-family: "Microsoft YaHei";
}
QScrollBar:vertical {
    background: transparent; /* 将轨道背景设置为透明 */
    width: 8px; /* 滚动条宽度，根据需要调整 */
    margin: 0px; /* 移除滚动条与滑块之间的间距 */
}
QScrollBar::handle:vertical {
    background: rgb(173,170,169); /* 滑块颜色 */
    min-height: 10px; /* 滑块最小高度，根据需要调整 */
    border-radius: 4px; /* 滑块边缘圆角，调整以形成椭圆形状 */
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px; /* 移除上下按钮 */
    border: none; /* 移除边框 */
    background: transparent; /* 背景透明 */
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none; /* 页面滚动部分背景透明 */
}


#titleLab{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    font-weight: normal;
}
#chatEdit{
    background: #ffffff;
    border: none; /* 隐藏边框 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    font-size: 18px; /* 设置字体大小 */
    padding: 5px; /* 设置内边距 */
}
#sendWid{
    background: #ffffff;
    border: none; /* 隐藏边框 */
}
#addBtn[state='normal']{
    border-image: url(:/images/add_friend_normal.png);
}
#addBtn[state='hover']{
    border-image: url(:/images/add_friend_hover.png);
}
#addBtn[state='press']{
    border-image: url(:/images/add_friend_hover.png);
}
#recvBtn[state='normal']{
   background: #f0f0f0;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#recvBtn[state='hover']{
   background: #d2d2d2;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#recvBtn[state='press']{
   background: #c6c6c6;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#sendBtn[state='normal']{
    background: #f0f0f0;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}
#sendBtn[state='hover']{
   background: #d2d2d2;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#sendBtn[state='press']{
   background: #c6c6c6;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#toolWid{
    background: #ffffff;
    border-bottom: 0.5px solid #ececec; /* 设置下边框颜色和宽度 */
}
#emoLab[state='normal']{
    border-image: url(:/images/smile.png);
}
#emoLab[state='hover']{
    border-image: url(:/images/smile_hover.png);
}
#emoLab[state='press']{
    border-image: url(:/images/smile_press.png);
}
#fileLab[state='normal']{
    border-image: url(:/images/filedir.png);
}
#fileLab[state='hover']{
    border-image: url(:/images/filedir_hover.png);
}
#fileLab[state='press']{
    border-image: url(:/images/filedir_press.png);
}

#chatUserName {
    color:rgb(153,153,153);
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#sideChatLab[state='normal']{
    border-image: url(:/images/chat_icon.png);
}

#sideChatLab[state='hover']{
    border-image: url(:/images/chat_icon_hover.png);
}

#sideChatLab[state='pressed']{
    border-image: url(:/images/chat_icon_press.png);
}

#sideChatLab[state='selected_normal']{
    border-image: url(:/images/chat_icon_press.png);
}

#sideChatLab[state='selected_hover']{
    border-image: url(:/images/chat_icon_press.png);
}

#sideChatLab[state='selected_pressed']{
    border-image: url(:/images/chat_icon_press.png);
}

#sideContactLab[state='normal']{
    border-image: url(:/images/contact_list.png);
}

#sideContactLab[state='hover']{
    border-image: url(:/images/contact_list_hover.png);
}

#sideContactLab[state='pressed']{
    border-image: url(:/images/contact_list_press.png);
}

#sideContactLab[state='selected_normal']{
    border-image: url(:/images/contact_list_press.png);
}

#sideContactLab[state='selected_hover']{
    border-image: url(:/images/contact_list_press.png);
}

#sideContactLab[state='selected_pressed']{
    border-image: url(:/images/contact_list_press.png);
}


#searchEdit {
    border: 2px solid #f1f1f1;
}

/* 搜索框列表*/
#searchList {
    background-color: rgb(247,247,248);
    border: none;
}

#searchList::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}

#searchList::item:hover {
    background-color: rgb(206,207,208);
    border: none;
    outline: none;
}

#searchList::focus {
    border: none;
    outline: none;
}

#invalid_item {
    background-color: #eaeaea;
    border: none;
}

#addTip {
    border-image: url(:/images/addtip.png);
}

#rightTip{
 border-image: url(:/images/right_tip.png);
}

#message_tip{
  text-align: center;
  font-family: "Microsoft YaHei";
  font-size: 12pt;
}


#ApplyFriend{
    border: 2px solid #f1f1f1;
    font-size: 14px;
    background: #f7f7f8;
}

#scrollArea{
    background: #f7f7f8;
    border: none;
}

#scrollContents{
     background: #f7f7f8;
}

#scrollContents #applyLab{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-weight: normal;
}

#applyWid QLabel{
    color:rgb(140,140,140);
    font-size: 14px;
    font-family: "Microsoft YaHei";
    height: 25px;
}

#applyWid #nameEdit, #applyWid #backEdit{
    border: 1px solid #f7f7f8;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#applyWid #labEdit {
       border: none;
       font-size: 14px;
       font-family: "Microsoft YaHei";
}

#applyWid #moreLab{
    border-image: url(:/res/arowdown.png);
}

#applyWid #tiplab[state='normal'] {
    padding: 2px;
    background: #e1e1e1;
    color: #1e1e1e;
    border-radius: 10px;
}

#applyWid #tiplab[state='hover'] {
    padding: 2px;
    background: #e1e1e1;
    color: #1e1e1e;
    border-radius: 10px;
}

#applyWid #tiplab[state='pressed'] {
    padding: 2px;
    background: #e1e1e1;
    color: #48bf56;
    border-radius: 10px;
}

#applyWid #tiplab[state='selected_normal'] {
    padding: 2px;
    background: #e1e1e1;
    color: #48bf56;
    border-radius: 10px;
}

#applyWid #tiplab[state='selected_hover'] {
    padding: 2px;
    background: #e1e1e1;
    color: #48bf56;
    border-radius: 10px;
}

#applyWid #tiplab[state='selected_pressed'] {
    padding: 2px;
    background: #e1e1e1;
    color: #1e1e1e;
    border-radius: 10px;
}

#inputWid {
    background: #d3eaf8;
}

#applyWid #FriendLabel {
    background: #daf6e7;
    color: #48bf56;
    border-radius: 10px;
}

#applyWid #tip_lb {
    padding-left: 2px;
    color:rgb(153,153,153);
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#gridWidget {
   background: #fdfdfd;
}

#closeLab[state='normal'] {
    border-image: url(:/res/tipclose.png);
}

#closeLab[state='hover'] {
    border-image: url(:/res/tipclose.png);
}

#closeLab[state='pressed'] {
    border-image: url(:/res/tipclose.png);
}

#closeLab[state='select_normal'] {
    border-image: url(:/res/tipclose.png);
}

#closeLab[state='select_hover'] {
    border-image: url(:/res/tipclose.png);
}

#closeLab[state='select_pressed'] {
    border-image: url(:/res/tipclose.png);
}

#applySureWid #sureBtn[state='normal']  {
    background: #f0f0f0;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#applySureWid #sureBtn[state='hover'] {
    background: #d2d2d2;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#applySureWid #sureBtn[state='press'] {
    background: #c6c6c6;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#applySureWid #cancelBtn[state='normal']  {
    background: #f0f0f0;
    color: #2e2f30;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#applySureWid #cancelBtn[state='hover'] {
    background: #d2d2d2;
    color: #2e2f30;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#applySureWid #cancelBtn[state='press'] {
    background: #c6c6c6;
    color: #2e2f30;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}
